<h1>Details Component</h1>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste incidunt quis animi, dolor nisi unde repellat, voluptates
  eum voluptas soluta earum ab ipsum veniam nemo sequi officia maiores! Voluptates, veniam! Libero repudiandae neque aspernatur,
  officia eum alias dolorem vero dolores laborum molestias exercitationem voluptates reiciendis recusandae dicta veniam facere
  excepturi provident quia harum optio accusamus laudantium! Consequuntur deserunt qui autem! Porro cupiditate vel voluptatum
  cumque numquam blanditiis inventore sint odio totam enim vero assumenda, incidunt dolorem quia? Laborum nostrum quod nihil
  cupiditate culpa, commodi eius! Ratione harum facere aliquam obcaecati! Necessitatibus obcaecati tenetur consequuntur natus
  nulla in debitis reiciendis. Molestias repellat voluptatum nemo numquam facere exercitationem consequatur enim explicabo
  eveniet, illo, eum veritatis esse? Rerum provident neque voluptates dicta eaque! Tempore est fuga necessitatibus reiciendis?
  Corrupti, quam? Quisquam dicta eum, autem assumenda deserunt cum rem possimus natus beatae expedita ipsa mollitia quos
  incidunt nulla odit labore excepturi. Natus, quo asperiores. Id hic, culpa facere minus nihil excepturi quo fuga iusto,
  molestias porro molestiae saepe aliquam ipsa officiis maiores totam quam, voluptatum adipisci omnis! Eveniet rerum id ratione,
  voluptas laborum eligendi! Natus sit quos modi ratione facilis perferendis delectus cum itaque eum doloribus quam sequi
  autem repellat aliquid mollitia esse quae suscipit nisi, quia in ab. Vitae ducimus harum fuga voluptatum. Aspernatur, cum
  nemo quos numquam, eveniet nostrum a sequi hic, dignissimos adipisci maxime cupiditate! Doloremque excepturi sit ad impedit
  hic nostrum, veniam enim facere autem aliquam ratione saepe. Repudiandae, tempore. Asperiores fuga tempora impedit, corporis
  debitis pariatur laudantium non rem, perspiciatis est cupiditate praesentium, omnis veniam minus consectetur. Culpa minima
  corrupti laboriosam voluptatem tempore esse explicabo laudantium officia pariatur sunt. Pariatur ea fugiat officia rem
  voluptatem nobis necessitatibus dolore dolorum. Magni dicta sit, tempora velit ea minus. Libero voluptatibus quasi dolor,
  autem unde modi obcaecati suscipit voluptatem similique dicta ea! Voluptatum debitis quam, quis ipsa ex laboriosam. Vitae
  sint vel quasi, nemo impedit quod magnam ducimus ipsum modi veniam eligendi quibusdam ullam odio distinctio veritatis laudantium
  dolore cumque nihil. Molestias? Quas quos magnam qui eius dignissimos quisquam culpa architecto corrupti aliquid cumque
  repudiandae, ad ipsum nemo animi, earum, natus et molestiae omnis cupiditate ex eveniet maiores id! Laudantium, ea alias.
  Recusandae sunt consequatur doloribus quod officiis alias nobis. Voluptatibus sunt facilis aut laborum eum blanditiis animi,
  nisi hic quos voluptates officiis! Hic tempora voluptate cupiditate, fuga fugit consequatur eos corporis. Libero qui eligendi
  tenetur reiciendis sed reprehenderit, ut esse. Consectetur doloremque hic, expedita omnis, autem nihil, officiis fugit
  vitae quibusdam odit voluptate! Incidunt, architecto sapiente aliquam commodi voluptatibus velit dolor. Doloribus eligendi
  eius rem nihil sed. Reiciendis earum, inventore dignissimos quod autem laudantium velit doloribus in facilis nihil. Velit
  reiciendis quisquam accusamus excepturi fugiat labore, at dicta ut molestias odit. Soluta optio quos laudantium, nobis
  fuga illum adipisci ducimus doloribus veritatis sit quia impedit aliquam iste atque autem! Aut perferendis voluptate autem
  earum voluptates harum itaque alias sint quia officiis. Earum, iusto, officiis laudantium, ipsam at eius itaque culpa iure
  aperiam ipsa hic cumque est maiores. Facilis nihil deleniti molestias consequuntur illo, incidunt, corrupti soluta, asperiores
  voluptates quo laborum! Dolores! Impedit autem possimus saepe repellat maxime voluptate labore obcaecati sunt perspiciatis
  vitae quisquam earum, ad illum temporibus iste? Impedit debitis exercitationem omnis eius, pariatur obcaecati et hic illum
  quibusdam ipsam! Natus debitis amet commodi eveniet ipsum praesentium a laboriosam quod, architecto animi adipisci facere
  maxime vero nostrum fugiat molestias ut ad! Inventore perspiciatis hic odio nesciunt quas maxime. Dolorem, sequi? Perferendis
  veritatis cum pariatur doloremque, delectus culpa debitis quia cupiditate libero expedita illo ipsam maxime, neque rem,
  esse tempora a aspernatur animi fugit nemo voluptatem! Recusandae, incidunt magnam! Nulla, harum? Eveniet aut enim tempora
  tenetur eum velit perferendis molestiae obcaecati ab modi molestias quasi sequi mollitia, totam rem rerum maxime id nihil
  fugiat dignissimos consequatur! Velit ducimus voluptas illo magnam! Non nam distinctio, culpa ipsam excepturi dicta voluptate
  sequi et. Deleniti, non. Repudiandae laboriosam ducimus sed, eligendi placeat aspernatur mollitia accusantium esse nemo,
  perferendis quam architecto sapiente distinctio iure reiciendis! Quae rem libero non earum dolor, illo eaque excepturi
  aut molestiae nam sed vitae minus placeat aspernatur alias porro commodi quam debitis quia eum dolores reiciendis distinctio
  enim. Ipsam, maxime! Eaque quam doloribus numquam. Corporis illo ducimus, eos ratione hic nisi explicabo at exercitationem
  aperiam perspiciatis dignissimos laboriosam obcaecati amet repellendus officia ipsa architecto dolore. Blanditiis suscipit
  illo soluta sunt! Animi, nam! Excepturi nam ab aspernatur saepe natus eveniet quae, ducimus numquam ullam reprehenderit!
  Ipsam quas debitis itaque fugiat laudantium corporis amet earum provident. Eos in voluptas reprehenderit ratione error.
  Qui iusto tempore quos dolorum placeat harum at ab voluptatem iure molestias fugit et, nihil eveniet ipsam quae voluptas
  repellat eos quibusdam voluptates! Eius quod id voluptatibus modi dignissimos magni. Laborum nulla mollitia doloribus quam,
  harum nobis rerum, blanditiis, debitis ipsum similique optio beatae ducimus earum perferendis corporis! Quo vero quibusdam
  labore harum facere consectetur dolor tempore itaque magni esse! Nostrum quod ab dolor labore amet deserunt totam culpa
  beatae temporibus repellat corrupti ad praesentium rem consequatur expedita earum ipsum eum, libero illum natus corporis
  neque! Error similique deserunt sapiente? Sequi totam, optio temporibus iure fugiat animi commodi at quibusdam repellat
  unde nihil cumque ab, repellendus reiciendis numquam distinctio repudiandae nostrum fuga eveniet corrupti placeat aspernatur
  iusto? Facere, ratione velit? Mollitia, id corporis. Quibusdam eos eveniet provident, aut aliquid iste voluptatem aliquam
  quae ea quia quidem laborum delectus animi quasi porro. Fugiat, perspiciatis error. Voluptas iure ipsam ad sunt commodi!
  Tempora, pariatur in. Repudiandae, corporis qui modi eum sit nulla non eveniet doloribus quaerat beatae vitae error aliquid
  sapiente natus voluptate minus distinctio nobis fuga exercitationem porro ut reiciendis! Magnam. Non temporibus impedit
  placeat reiciendis eligendi reprehenderit, esse libero optio possimus dolorum ipsum pariatur necessitatibus dolorem quaerat
  in qui suscipit excepturi. Esse pariatur, quo quas molestias velit blanditiis illum optio. Eos, doloremque aut provident
  culpa non, placeat accusantium suscipit ratione esse voluptatibus vitae tenetur est asperiores error expedita dolor debitis
  tempore tempora dolorem maxime exercitationem neque doloribus odio repellat. Consectetur? Sapiente in voluptatum iste facere
  soluta saepe rem itaque libero, voluptatem, aliquam eius esse pariatur, odit commodi omnis nemo laborum quibusdam! Distinctio
  numquam facere, labore illum a eius veritatis necessitatibus. Culpa accusantium impedit voluptas quasi aliquid ipsam adipisci
  nisi distinctio, delectus dolorum quod iste sint odit, ab soluta tempore quibusdam at praesentium tempora fuga earum molestiae
  et! Quibusdam, incidunt recusandae. Non laboriosam consequuntur animi molestiae officia magnam, modi recusandae corrupti
  voluptates numquam nisi autem sint cum inventore odit? Nulla fuga dignissimos atque eligendi culpa? Quo in at esse distinctio
  quaerat. Quas, minus sapiente nisi velit esse perferendis commodi alias ipsa. Veniam vel est necessitatibus possimus accusantium
  illo non et quas fugiat quo odio atque, excepturi at officiis ea rem ratione. Nam, nulla quo! Eius exercitationem porro
  repudiandae ipsam iure nisi illum cumque rem error adipisci, inventore voluptatibus a? Cupiditate veritatis cum officiis
  excepturi non in sit dignissimos aliquam inventore totam. Unde consequuntur suscipit libero iure ratione doloremque recusandae
  a quasi praesentium! Magnam, quia expedita omnis eum ipsam doloremque suscipit, dolores nesciunt atque voluptatum a voluptate
  quaerat in fugit ullam distinctio? Eius quibusdam soluta dolore facilis tempore in cum! Sapiente alias temporibus vero
  officia officiis dolores porro suscipit quo iste accusantium, quis molestias. Ipsam eveniet accusantium totam dignissimos
  earum, culpa animi! Facere voluptatum suscipit hic sit nihil porro quam! Deleniti consequuntur nostrum numquam, reiciendis
  dolore corporis minima beatae deserunt excepturi voluptatum eveniet sapiente optio iure suscipit aut repellat quod ratione
  cupiditate? Mollitia, expedita. Iste odit vero voluptates, soluta nostrum suscipit accusamus assumenda commodi, explicabo
  facilis animi quo ad nesciunt officiis. Veritatis soluta magni error at blanditiis eos fuga earum ipsum. Optio. Ratione
  vel itaque, perspiciatis, recusandae veritatis tempora eum aperiam id placeat culpa ex nesciunt, cumque ut. Praesentium
  aspernatur dolores sunt odio nemo modi eius exercitationem voluptate voluptatum libero! Accusantium, veniam. Reprehenderit
  dolor reiciendis cum enim illo cumque laboriosam ipsam rerum ipsa! Eius possimus illum dicta doloribus impedit porro eaque
  a culpa sapiente autem, beatae modi numquam nam sequi eos dolorem. Culpa ipsam ea architecto perspiciatis non reprehenderit,
  qui voluptatem sit. Facilis corrupti delectus inventore accusamus cupiditate blanditiis voluptas commodi tempore reiciendis
  perspiciatis. Vel fugiat corrupti aspernatur, tempora magnam laboriosam atque. Quaerat earum suscipit possimus sit labore
  incidunt quisquam facilis perferendis itaque quia voluptatem sunt debitis nobis voluptatum nostrum animi excepturi, alias
  soluta eveniet veritatis eligendi aperiam repudiandae optio accusantium. Placeat. Laboriosam, veniam? Temporibus vero quo
  quae, eos doloribus hic quod! Commodi, quidem corrupti consequatur a, illum fugit rerum laudantium aliquid nobis quo facilis
  excepturi nisi quod dolores autem illo ducimus. Maiores ex maxime necessitatibus tempore repellendus sed vel labore veritatis
  sunt inventore, eius, eum itaque ipsam excepturi, ipsum deleniti sit illum amet blanditiis fugit temporibus vero fugiat
  autem! Explicabo, quasi! Aut magnam quidem eveniet nulla, fuga velit magni perspiciatis reprehenderit quaerat nemo ex tempore
  asperiores nesciunt nam qui earum rerum quod incidunt harum quos, aliquam facere. Repellat consequatur consequuntur maiores?
  Harum debitis nobis officiis inventore optio alias illum, facere nostrum tempore explicabo possimus quaerat natus rem consequuntur
  quo eum modi saepe repellat asperiores soluta sunt dicta atque mollitia. Dolore, blanditiis.
</p>

<a routerLink="/">Home</a>